<h1>Hello, <%= @parent.name %></h1>

<h2>What did <%= @child.name %> eat today?</h2>

<div class="row">
  <div id="journal">
    <% Item.includes(:children_items).each do |item| %>
      <%= content_tag :div, 
	  	  class: "small-3 large-2 columns item #{"selected" if @child.children_items.find_by_item_id(item.id).present?}", 
	      data: { item_id: item.id, user_id: @child.id } do %>
        <%= image_tag item.image_url %>
        <%= content_tag :span, item.name.titleize %>
        <%= content_tag :span, nil, id: "item_#{item.id}_child_#{@child.id}" %>
      <% end %>
    <% end %>
    <div class="columns"></div>
  </div>
</div>
<div class="row">
  <div class="columns">
    <ul id="log"></ul>
  </div>
</div>

<% content_for :dom_ready do %>
  new ChildItem($(".item"));
<% end %>
