<section class="screen--character">
  <h2>Take your pet home</h2>

  <div class="row">
    <% Character.all.each do |character| %>
      <div class="small-6 large-3 columns character <%= character.name %>">
        <%= image_tag "#{character.name}.png"%>
        <p><%= character.name %></p>

        <div class="information">
          <%= image_tag "#{character.name}.png" %>

          <%= form_for Pet.new do |f| %>
            <%= f.text_field :name, placeholder: "Name your pet!" %>
            <label class="gender"><%= f.radio_button :sex, "Boy" %> Boy</label>
            <label class="gender"><%= f.radio_button :sex, "Girl" %> Girl</label>
            <%= f.hidden_field :character_id, value: character.id %>
            <%= f.hidden_field :user_id, value: @child.id %>

            <%= f.submit "Adopt", class: "button round success" %>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="columns"></div>
  </div>
</section>

