<section class="screen--character">
  <p>Welcome, <%= @person.name %>!</p>

  <h2>Take your pet home</h2>

  <div class="row">
    <% Character.order(:name).all.each do |character| %>
      <div class="small-6 large-3 columns character <%= character.name %>">
        <%= image_tag "#{character.name}-ns.png"%>
        <p><%= character.name %></p>


        <div class="information">
          <%= image_tag "#{character.name}-ns.png" %>

		  <%= form_for Pet.new do |f| %>
			<%= f.text_field :name, placeholder: "Name your pet!" %>
			<label class="gender"><%= f.radio_button :sex, "Boy" %> Boy</label>
		  	<label class="gender"><%= f.radio_button :sex, "Girl" %> Girl</label>
			<%= f.hidden_field :character_id, value: character.id %>
			<%= f.hidden_field :person_id, value: @person.id %>

			<%= f.submit "Save", class: "button round success" %>
		  <% end %>
        </div>
      </div>
    <% end %>
    <div class="columns"></div>
  </div>
</section>
