<section class="screen--character">
  <p>Welcome, <%= @person.name %>!</p>

  <h2>Take your pet home!</h2>

  <div class="row">
    <% Character.all.each do |character| %>
      <div class="small-6 large-3 columns character <%= character.name %>">
        <%= image_tag "#{character.name}-ns.png"%>
        <p><%= character.name %></p>


        <div class="information">
          <%= semantic_form_for Pet.new do |f| %>
            <%= f.input :name, placeholder: "Name me" %>
            <%= f.input :sex, as: :radio, collection: %w[Boy Girl] %>
            <%= f.input :character_id, value: character.id, as: :hidden %>
            <%= f.input :person_id, value: @person.id, as: :hidden %>
            <%= f.actions do %>
              <%= f.action :submit, label: "Save", button_html: { class: "button"} %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="columns"></div>
  </div>
</section>
