<div class="row feed-header">
  <div class="small-4 columns coins">
    $ <span id="coins"><%= pet.coins %></span>
  </div>

  <div class="small-8 columns">
    <p>
      <%= pet.name %> feels
      <div id="scale">
        <%= image_tag pet.health_icon, title: pet.feeds.count, id: "health_icon" %>
        <%= image_tag "scale/bar.png", id: "bar" %>
        <%= content_tag :span, "", id: "tick" %>
      </div>
    </p>
  </div>
</div>


<div class="row">
  <div class="small-12 columns">
    <%=
      image_tag "#{pet.image_url}_close.png", class: "droppable",
        data: {
          open: image_path("#{pet.image_url}.png"),
          closed: image_path("#{pet.image_url}_close.png"),
        }
    %>
    <h2><%= pet.name %></h2>
  </div>
</div>

<script>
  function positionTick(index) {
    left = 14 + 220 * index;
    $("#tick").css({ left: left + "px" });
  }
</script>

<% content_for :dom_ready do %>
  positionTick(<%= pet.health_index %>);
<% end %>
