<p>Welcome, <%= @pet.person_name %>!</p>

<section class="screen--feed">
  <%= render @pet %>

  <div class="row">
    <div class="small-12 columns">
      TODAY
    </div>
  </div>

  <% Meal.all.each do |meal| %>
    <div class="row">
      <div class="small-2 columns">
        <%= image_tag meal.image_url %>
      </div>

      <div class="small-2 columns">
        <%= meal.name.titleize %>
      </div>

      <div class="small-2 columns">
        <%= meal.qualification %>
      </div>

      <div class="small-2 columns">
        <%= form_for Feed.new do |f| %>
          <%= f.hidden_field :pet_id, value: @pet.id %>
          <%= f.hidden_field :meal_id, value: meal.id %>
          <%= f.submit value: "Feed" %>
        <% end %>
      </div>

      <div class="columns"></div>
    </div>
  <% end %>
</section>
